#teachers {
    height: 90%;
    width: 95%;
    background: white;
    border: 1px solid #dddddd;
    margin: 20px auto;
}

/*=================================================================================================
 = Teacher List
=================================================================================================*/
#teachers .teacher-list {
    width: calc(100% - 20rem);
    height: 100%;
    border-right: 1px solid #DDDDDD;
    padding: 0.25rem 2rem 0rem;
}

.teacher-list h2 {
    /* padding-bottom: 0.5rem; */
}

.teacher-list .table-container {
    height: calc(100% - 2.6rem);
    background-color: #FFFFFF;
    border-radius: 0.25rem;
    border: 1px solid #DDDDDD;
}

.teacher-list .teacher-list-table {
    border-radius: 0;
    border-collapse: collapse;
}

.teacher-list-table thead th {
    border-radius: 0;
    background-color: #55B1A8;
    color: #FFFFFF;
    font-family: 'Roboto-Medium', 'Roboto Medium', 'Roboto', 'Helvetica', 'Arial', sans-serif;
    padding: 1rem 0.45rem;
    text-align: left;
}

.teacher-list-table tbody td {
    padding: 0.75rem 0.45rem;
    text-align: left;
}

.teacher-list-table tbody * {
    font-family: 'Roboto-Regular', 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.teacher-list-table .ant-pagination.ant-table-pagination {
    margin: 1rem 1rem 0;
}

.teacher-list-table .ant-pagination.ant-table-pagination .ant-pagination-item.ant-pagination-item-active {
    background-color: #55B1A8;
    border-color: #55B1A8;
}

.teacher-list-table tbody tr td:last-of-type {
    width: 10rem;
}

.teacher-list-table .action-column {
    width: 100%;
}

.teacher-list-table .action-column button {
    width: 4rem;
    margin: 0 0.275rem;
    height: 1.5rem;
    border: 1px solid transparent;
    background-color: transparent;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 0.875rem;
}

.teacher-list-table .action-column button.delete {
    border-color: #D32F2F;
    color: #D32F2F;
}

.teacher-list-table .action-column button.edit {
    border-color: #55B1A8;
    background-color: #55B1A8;
    color: #FFFFFF;
    transition: 100ms;
}

.teacher-list-table .action-column button.edit:hover {
    border-color: #55B1A8;
    background-color: #55B1A8;
}

.saveButton {
    width: 50%;
    min-width: 150px;
    /* padding-top: 10px; */
    margin: 10px 0px 10px 0px;
    float: right;
}

/*=================================================================================================
 = New Teacher
=================================================================================================*/
#teachers .new-teacher {
    height: 100%;
    width: 20rem;
    padding: 4rem 1rem 0;
}

.new-teacher h2 {
    font-size: 1.25rem;
    color: #666666;
    text-align: center;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid #999999;
    margin-bottom: 2rem;
}

.new-teacher label {
    font-size: 0.9rem;
    display: block;
    color: #AAAAAA;
    margin-bottom: 0.6rem;
}

.new-teacher .form-input {
    width: 100%;
    display: block;
    height: 2.5rem;
    padding: 0 0.5rem;
    margin-bottom: 1.5rem;
    border-radius: 0.25rem;
    border: 2px solid #DDDDDD;
    background-color: #FFFFFF;
    transition: 80ms;
}

.new-teacher .form-input:focus {
    border-color: #AAAAAA;
}

.new-teacher .form-input:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.new-teacher button {
    display: block;
    width: calc(100% - 2rem);
    background-color: #55B1A8;
    height: 2.5rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 0.25rem;
    color: #FFFFFF;
    font-family: 'Roboto-Medium', 'Roboto', 'Helvetica', 'Arial', sans-serif;
    margin: 0 1rem;
    cursor: pointer;
    transition: 100ms;
}

.new-teacher button:hover, .new-teacher button:focus {
    background-color: #55B1A8;
}

.new-teacher .cancel-button {
    margin-top: 1rem;
    border: 1px solid #55B1A8;
    background: transparent;
    color: #55B1A8;
}

.search-container-elements{
    width: 100%;
    min-width: 5rem;
    padding-top: 0.5rem;
}
