/*=================================================================================================
 = Classroom 
=================================================================================================*/
#classroom-container {
  height: 85%;
  width: 95%;
  background: white;
  border: 1px solid #dddddd;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*=================================================================================================
 = Programs 
=================================================================================================*/
#program-container {
  height: 90%;
  width: 95%;
  background: white;
  border: 1px solid #dddddd;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*=================================================================================================
 = snacks
=================================================================================================*/
#snacks-container {
  height: 85%;
  width: 95%;
  background: white;
  border: 1px solid #dddddd;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.generate-tabs {
  height: 100%;
  width: 100%;
}

.generate-tabs .ant-tabs-bar {
  text-align: center;
  margin: 2rem;
  border-bottom: none;
}

/* .snack-list-table .table-generater-container {
	margin: 0rem 1rem;
} */

.input-report {
  margin: 0rem 1rem;
  width: 65%;
  height: 2.2rem;
  text-align: center;
  border: 1px solid #d4d4d5;
  border-radius: 4px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d4d4d5;
  opacity: 1; /* Firefox */
}

.snack-filter-option {
  margin-bottom: 0rem;
}

#snacks {
  height: 90%;
  width: 95%;
  background: white;
  border: 1px solid #dddddd;
  margin: 20px auto;
}

/*=================================================================================================
 = snack List
=================================================================================================*/
#snacks .snack-list {
  width: calc(100% - 20rem);
  height: 100%;
  border-right: 1px solid #dddddd;
  padding: 0.25rem 2rem 0rem;
}

.snack-list h2 {
  /* padding-bottom: 0.5rem; */
}

.snack-list .table-container {
  height: calc(100% - 2.6rem);
  background-color: #ffffff;
  border-radius: 0.25rem;
  border: 1px solid #dddddd;
}

.snack-list .snack-list-table {
  border-radius: 0;
  border-collapse: collapse;
}

.snack-list-table thead th {
  border-radius: 0;
  background-color: #4478A2;
  color: #ffffff;
  font-family: "Roboto-Medium", "Roboto Medium", "Roboto", "Helvetica", "Arial",
    sans-serif;
  padding: 1rem 0.45rem;
  text-align: left;
}

.snack-list-table tbody td {
  padding: 0.75rem 0.45rem;
  text-align: left;
}

.snack-list-table tbody * {
  font-family: "Roboto-Regular", "Roboto", "Helvetica", "Arial", sans-serif;
}

.snack-list-table .ant-pagination.ant-table-pagination {
  margin: 1rem 1rem 0;
}

.snack-list-table
  .ant-pagination.ant-table-pagination
  .ant-pagination-item.ant-pagination-item-active {
  background-color: #4478A2;
  border-color: #4478A2;
}

.snack-list-table tbody tr td:last-of-type {
  width: 10rem;
}

.snack-list-table .action-column {
  width: 100%;
}

.snack-list-table .action-column button {
  width: 4rem;
  margin: 0 0.275rem;
  height: 1.5rem;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}

.snack-list-table .action-column button.delete {
  border-color: #d32f2f;
  color: #d32f2f;
}

.snack-list-table .action-column button.edit {
  border-color: #2196f3;
  background-color: #2196f3;
  color: #ffffff;
  transition: 100ms;
}

.snack-list-table .action-column button.edit:hover {
  border-color: #4478A2;
  background-color: #4478A2;
}

.saveButton {
  width: 50%;
  min-width: 150px;
  /* padding-top: 10px; */
  margin: 10px 0px 10px 0px;
  float: right;
}

/*=================================================================================================
 = New snack
=================================================================================================*/
#snacks .new-snack {
  height: 100%;
  width: 20rem;
  padding: 4rem 1rem 0;
}

.new-snack h2 {
  font-size: 1.25rem;
  color: #666666;
  text-align: center;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #999999;
  margin-bottom: 2rem;
}

.new-snack label {
  font-size: 0.9rem;
  display: block;
  color: #aaaaaa;
  margin-bottom: 0.6rem;
}

.new-snack .form-input {
  width: 100%;
  display: block;
  height: 2.5rem;
  padding: 0 0.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.25rem;
  border: 2px solid #dddddd;
  background-color: #ffffff;
  transition: 80ms;
}

.new-snack .form-input:focus {
  border-color: #aaaaaa;
}

.new-snack .form-input:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.new-snack button {
  display: block;
  width: calc(100% - 2rem);
  background-color: #2196f3;
  height: 2.5rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 0.25rem;
  color: #ffffff;
  font-family: "Roboto-Medium", "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0 1rem;
  cursor: pointer;
  transition: 100ms;
}

.new-snack button:hover,
.new-snack button:focus {
  background-color: #4478A2;
}

.new-snack .cancel-button {
  margin-top: 1rem;
  border: 1px solid #2196f3;
  background: transparent;
  color: #2196f3;
}

.search-container-elements {
  width: 100%;
  min-width: 5rem;
  padding-top: 0.5rem;
}

.generate-button {
  margin: 0rem 1rem;
  width: 80%;
  color: #fff;
  background: #4478A2;
  border-color: #4478A2;
}

.generate-button.ant-btn-primary:focus,
.generate-button.ant-btn-primary:hover {
  color: #fff;
  background: rgb(125, 172, 216);
  border-color: #4478A2;
}
